{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block head_title %}misodojo{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Adriaan Tijsseling">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/static/css/extra.css" rel="stylesheet">
    {% block head_css %}
    {% endblock %}
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% block brand %}<a class="navbar-brand misobrand" href="/"><span></span></a>{% endblock %}
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li{% if request.path_info == '/' %} class="active"{% endif %}><a href="/">Home</a></li>
            <li{% if request.path_info == '/pages/about/' %} class="active"{% endif %}><a href="{% url 'flatpage' url='/about/' %}">About</a></li>
            <li{% if request.path_info == '/blog/' %} class="active"{% endif %}><a href="/blog">Blog</a></li>
            <li{% if request.path_info == '/pages/contact/' %} class="active"{% endif %}><a href="{% url 'flatpage' url='/contact/' %}">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>{% block header %}<a href="/">misodojo</a>{% endblock %}</li>
          </ul>
        </div><!-- /.navbar-collapse -->

      </div><!-- /.container -->
    </nav>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    {% block footer %}
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class="container">
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><p>&copy;2014 Adriaan Tijsseling </p></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    {% endblock %}

    {% block javascript %}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    {% endblock javascript %}
  </body>
</html>
