{% extends "base.html" %}
{% block content %}
<div id="home">
    <ul>
        <li class="facebook"><a href="https://www.facebook.com/adriaan.tijsseling"></a></li>
        <li class="flickr"><a href="http://www.flickr.com/photos/1001/"></a></li>
        <li class="github"><a href="https://github.com/adriaant"></a></li>
        <li class="linkedin"><a href="http://www.linkedin.com/in/adriaant"></a></li>
        <li class="twitter"><a href="http://twitter.com/_ado"></a></li>
    </ul>
</div>
{% endblock %}
