# -*- coding: utf-8 -*-
# /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\
# /!\ DO NOT COMMIT OR SHARE THIS FILE!
# /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\
"""
Store any sensitive/secret information (passwords, API keys...) here.
"""

# Secret key for a particular Django installation. This is used to provide
# cryptographic signing, and should be set to a unique, unpredictable value.
# Make this unique, and don't share it with anybody.
SECRET_KEY = "some-funky-string-here

# Database passwords
# PWD_MYSQL = 'foo'
