{% extends "base.html" %}
    {% block head_meta %}
    <link href="{% url 'atom_feed' %}" rel="alternate" type="application/atom+xml" title="Atom feed">
    <link href="{% url 'rss_feed' %}" rel="alternate" type="application/rss+xml" title="RSS feed">
    {% endblock %}
    {% block brand %}<a class="navbar-brand sushibrand" href="/blog/"><span></span></a>{% endblock %}
    {% block header %}<a href="/blog/">infinite sushi</a>{% endblock %}
      {% block content %}
      {% endblock %}

      {% block footer %}
      {% endblock %}
